{% extends 'base.html' %}

{% block title %}Home{% endblock title %}


{% block body %}
<!-- Card -->
<div
  class="bg-image card shadow-1-strong"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.webp');
  height: 1000px;"
>
  <div class="card-body text-white">
    <h5 class="card-title">Welcome...!!!</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of the
      card's content.
    </p>
    <a href="/login" class="btn btn-outline-light">Login First</a>
  </div>
</div>
<!-- Card -->

{% endblock body %}