<!doctype html>
<html lang="en">
<head>


<!-- Required meta tags -->


</head>
<body>

<div class="container">
    <!-- Background image -->
    <div class="bg-image" 
    style="background-image: url('https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco,dpr_1/ip4m43unwicdt1jkvfzg');
    background-repeat: no-repeat; margin-left: auto; margin-right: auto; background-position: center; height: 400px">
    </div>
    <!-- Background image -->
 </div>
</body>
</html>